<?xml version="1.0" encoding="UTF-8"?>
<extension>
  <information>
    <name>Dashboard</name>
    <version>0.2.0</version>
    <author>Kindle Brief contributors</author>
    <id>kindle-brief-dashboard</id>
  </information>
  <menus>
    <menu type="json" dynamic="true">menu.json</menu>
  </menus>
</extension>
